<div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" value="Sample value"
            id="Admin User" placeholder="Sample"
            Admin User>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <textarea type="Sample" name="Admin User" id="Admin User"
            placeholder="Sample"
            Admin User
            rows="5">Sample value</textarea>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" value="Sample value"
            id="Admin User" placeholder="Sample"
            Admin User>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" value="Sample value"
            id="Admin User" placeholder="Sample"
            Admin User>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" value="Sample value"
            id="Admin User" placeholder="Sample"
            Admin User>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label class="custom-switch mt-2">
            <input type="Sample" name="Admin User"
                Admin User
                Sample>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">Sample</span>
        </label>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <select type="Sample" name="Admin User" id="Admin User"
            Admin User>
            Sample
        </select>

            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>

    <div class="form-group">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" value="Sample value"
            min="Sample" id="Admin User" placeholder="Sample"
            Admin User>
        
            <div class="invalid-feedback" style="display: block;">Sample</div>
        
    </div>
