<div class="fp__single_blog">
    <a class="fp__single_blog_img">
        <img src="$blog->thumbnail" alt="blog" class="img-fluid w-100">
    </a>
    <div class="fp__single_blog_text">
        <a class="category">Admin User</a>
        <ul class="d-flex flex-wrap mt_15">
            <li><i class="fas fa-user"></i>Admin User</li>
            <li><i class="fas fa-calendar-alt"></i> Sample</li>
            <li><i class="fas fa-eye"></i> Sample views </li>
        </ul>
        <a class="title">Sample Title</a>
    </div>
</div>
