<div class="fp__login_imput">
        <label for="Admin User"
            class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User" 1
            id="Admin User" value="Sample value"
            placeholder="Admin User">
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="fp__login_imput">
        <label for="Admin User" class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User"
            1 id="Admin User"
            value="Sample value"
            placeholder="Admin User">
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="fp__login_imput">
        <label for="Admin User" class=" text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User"
            1 id="Admin User"
            value="Sample value"
            placeholder="Admin User">
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="form-check">
        <label for="Admin User"
            class="form-check-label text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User"
            1 id="Admin User"
            value="Sample value"
            placeholder="Admin User">
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="form-check">
        <label for="Admin User"
            class="form-check-label text-capitalize">Admin User</label>
        <input type="Sample" name="Admin User"
            1 id="Admin User"
            value="Sample value"
            placeholder="Admin User">
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="fp__login_imput">
        <label for="Admin User" class=" text-capitalize">Admin User</label>
        <select id="Admin User" name="Admin User"
            1>
            Sample
        </select>
        
            <span class=" text-danger">Sample</span>
        
    </div>

    <div class="fp__login_imput">
        <label for="Admin User" class=" text-capitalize">Admin User</label>
        <textarea type="Sample" name="Admin User" id="Admin User"
            1
            placeholder="Admin User">Sample value</textarea>
        
            <span class=" text-danger">Sample</span>
        
    </div>
