<div class="my-2 border">
        <img src="frontend/images/banner2_img_2.jpg" class=" img-thumbnail"
            style="height: 50px;width:100px;" alt="">
        <div class="p-2">
            <h6><a>Admin User</a>
            </h6>
            <strong class=" my-2">price: 25.00</strong>
            <hr>
            
                <p> Admin User
                    (25.00)
                </p>
                <hr>

                <p>Admin User (25.00)
                </p>
                <hr>
            
        </div>
        <div class="card-footer">
            <div class="quentity_btn">
                <button class="btn btn-danger" id="1" type="button"
                    1><i
                        class="fal fa-minus"></i></button>
                <input type="text" placeholder="1" value="1" name="cart_qty">
                <button class="btn btn-success" id="1" type="button"><i class="fal fa-plus"></i></button>
            </div>
        </div>
    </div>
