<h6>total cart</h6>
    <p>Coupon: <span>Sample &nbsp; <i style="cursor: pointer "
                class="far fa-times text-danger" aria-hidden="true"></i></span></p>

    <p>Amount: <span>Sample</span></p>
    <p>Discount: <span>Sample
            Sample</span>
    </p>
    <p>subtotal: <span>Sample</span></p>
    <p class="total"><span>total:</span>
        <span>Sample</span>
    </p>

    <h6>total cart</h6>
    <p>subtotal: <span>Sample</span></p>
    <p class="total"><span>total:</span> <span>Sample</span></p>
    <form>
        <input type="text" placeholder="Coupon Code" id="coupon_code" class="coupon_code" name="coupon_code">
        <button type="button" id="coupon_apply" class="coupon_apply">apply</button>
    </form>
