<tr>
        <td class="fp__pro_img"><img src="$product->options->thumbnail" alt="product" class="img-fluid w-100">
        </td>

        <td class="fp__pro_name">
            <a>Admin User</a>
            
                <span>Admin User 25.00</span>

                <p>Admin User - 25.00
                </p>
            
        </td>

        <td class="fp__pro_status">
            <h6>25.00
            </h6>
        </td>

        <td class="fp__pro_select">
            <div class="quentity_btn">
                <button class="btn btn-danger" id="1" type="button"
                    1><i
                        class="fal fa-minus"></i></button>
                <input type="text" placeholder="1" value="1" name="cart_qty">
                <button class="btn btn-success" id="1" type="button"><i class="fal fa-plus"></i></button>
            </div>
        </td>

        <td class="fp__pro_tk">
            
            <h6>Sample</h6>
        </td>

        <td class="fp__pro_icon">
            <a type="button" id="1"><i
                    class="far fa-times"></i></a>
        </td>
    </tr>
