<div class="main-sidebar sidebar-style-2">
      <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
              <a>FOOD <span class=" text-warning">PARK</span></a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
              <a>St</a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="">
                  <a class="nav-link">
                      <i class="fas fa-fire"></i><span>Dashboard</span>
                  </a>
              </li>
              <li class="">
                  <a class="nav-link">
                      <i class="fas fa-fire"></i><span>Live Chat</span>
                  </a>
              </li>

              <li class="menu-header">Starter</li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Manage Slider</span></a>
                  <ul class="dropdown-menu">
                      <li><a class="nav-link text-capitalize">List Slider</a>
                      </li>
                      <li><a class="nav-link text-capitalize">Add Slider</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Manage Services</span></a>
                  <ul class="dropdown-menu">
                      <li><a class="nav-link text-capitalize">List
                              Services</a>
                      </li>
                      <li><a class="nav-link text-capitalize">Add
                              Services</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Manage Team/Chef</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">List
                              Team/Chef</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Add
                              Team/Chef</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Manage Platform</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">List
                              Platform</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Add
                              Platform</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Counter Data</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">List
                              Counter</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Add
                              Counter</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Testimonial</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">List
                              Testimonial</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Add
                              Testimonial</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Advertisement</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">List
                              Advertisement</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Add
                              Advertisement</a>
                      </li>
                  </ul>
              </li>

              <li class="menu-header">Resturent</li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                      <span>Resturent Coupon</span></a>
                  <ul class="dropdown-menu">
                      <li><a class="nav-link text-capitalize">List
                              Coupon</a>
                      </li>
                      <li><a class="nav-link text-capitalize">Add
                              Coupon</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i
                          class="fas fa-columns"></i>
                      <span>Resturent Category</span></a>
                  <ul class="dropdown-menu">
                      <li><a class="nav-link text-capitalize">List
                              Category</a>
                      </li>
                      <li><a class="nav-link text-capitalize">Add
                              Category</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i
                          class="fas fa-columns"></i>
                      <span>Manage Product</span></a>
                  <ul class="dropdown-menu">
                      <li><a class="nav-link text-capitalize">Product
                              List</a>
                      </li>
                      <li><a class="nav-link text-capitalize">Product
                              Add</a>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="nav-link has-dropdown"><i
                          class="fas fa-columns"></i>
                      <span>Manage Orders</span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a class="nav-link text-capitalize">All Orders</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Pending
                              Orders</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Processing
                              Orders</a>
                      </li>
                      <li>
                          <a class="nav-link text-capitalize">Delivered
                              Orders</a>
                      <li>
                          <a class="nav-link text-capitalize">Cancel
                              Orders</a>
                      </li>

              </li>
          </ul>
          </li>
          <li class="menu-header">Blog</li>
          <li class="dropdown">
              <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                  <span>Blog Category</span></a>
              <ul class="dropdown-menu">
                  <li><a class="nav-link text-capitalize">List
                          Category</a>
                  </li>
                  <li>
                      <a class="nav-link text-capitalize">Add
                          Category</a>
                  </li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                  <span>Blog Post</span></a>
              <ul class="dropdown-menu">
                  <li><a class="nav-link text-capitalize">List
                          Blog-Post</a>
                  </li>
                  <li>
                      <a class="nav-link text-capitalize">Add
                          Blog-Post</a>
                  </li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="nav-link has-dropdown"><i class="fas fa-columns"></i>
                  <span>Blog Tag</span></a>
              <ul class="dropdown-menu">
                  <li><a class="nav-link text-capitalize">List
                          Blog-Tag</a>
                  </li>
                  <li>
                      <a class="nav-link text-capitalize">Add
                          Blog-Tag</a>
                  </li>
              </ul>
          </li>
          <li class="menu-header">settings</li>
          <li class="">
              <a class="nav-link">
                  <i class="fas fa-fire"></i><span>Settings</span>
              </a>
          </li>
          </ul>
      </aside>
  </div>
